In [2]:
from pandas import DataFrame, read_csv

import matplotlib.pyplot as plt
import pandas as pd
import sys
import numpy.random as np
import matplotlib

%matplotlib inline

In [3]:
np.seed(111)


def CreateDataSet(Number = 1):
    output = []
    for i in range(Number):
        rng = pd.date_range(start='1/1/2009', end='12/31/2012', freq='W-MON')
        data = np.randint(low=25, high = 1000, size=len(rng))
        status = [1, 2, 3]
        random_status = [status[np.randint(low=0, high=len(status))] for i in range(len(rng))]
        
        states = ['GA', 'FL', 'fl', 'NY', 'NJ', 'TX']
        random_states = [states[np.randint(low=0, high=len(states))] for i in range(len(rng))]
        
        output.extend(zip(random_states, random_status, data, rng))
    return output

In [4]:
dataset = CreateDataSet(4)
df = pd.DataFrame(data=dataset,columns=['State', 'Status', 'CustomerCount', 'StatusDate'])
df.head()

  State  Status  CustomerCount StatusDate
0    GA       1            877 2009-01-05
1    FL       1            901 2009-01-12
2    fl       3            749 2009-01-19
3    FL       3            111 2009-01-26
4    GA       1            300 2009-02-02

In [5]:
df.to_excel('Lesson3.xlsx', index=False)

In [7]:
pd.read_excel?

In [9]:
df = pd.read_excel('Lesson3.xlsx', sheet_name=0, index_col='StatusDate')
df.dtypes

State            object
Status            int64
CustomerCount     int64
dtype: object

In [10]:
df.head()

           State  Status  CustomerCount
StatusDate
2009-01-05    GA       1            877
2009-01-12    FL       1            901
2009-01-19    fl       3            749
2009-01-26    FL       3            111
2009-02-02    GA       1            300

In [11]:
df['State']= df.State.apply(lambda x: x.upper())

In [12]:
df['State'].unique()

array(['GA', 'FL', 'TX', 'NY', 'NJ'], dtype=object)